body {
  margin: 0;
}
.main {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav {
  width: 20%;
  /* height: 10%; */
  background-color: lightgray;
  border: 1px solid lightgray;
  font-size: 30px;
  padding: 10px;
  flex: 0 0 97%;
}
.mid {
  width: 77%;
  height: 60%;
  background-color: burlywood;
  border: 1px solid burlywood;
  font-size: 30px;
  padding: 10px;
}
.head,
.foot {
  height: 15%;
  background-color: lime;
}
.foot {
  height: 16%;
}
